@model IEnumerable<SQLite.Blog>

<div class="jumbotron">

</div>
<div>

    @foreach (var product in Model)
    {
 
            <table cellpadding="5" cellspacing"5" style="border:1px solid black; width:100%;background-color:White;">
                <thead>
                    <tr>
                        <th style="background-color:black; color:white;">
                            Blog ID
                        </th>
                        <th style="background-color:black; color:white;">
                            URL
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td style="background-color:White;">
                            @product.BlogId
                        </td>
                        <td style="background-color:White;">
                            @product.Url
                        </td>
                    </tr>
                </tbody>
            </table>
        
    }

</div>
